{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {% if app.user %}
            {{ form(form) }}
        {% else %}
            <a href="{{ path('login') }}">Pour commenter connecter vous</a>
        {% endif %}
    </div>
{% endblock %}